DATABASE_URL=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=
SUPABASE_CA_CERT_PATH=cert/prod-ca-2021.crt
CLERK_PUBLISHABLE_KEY=
VITE_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=